.bodystyle{

    background-color: #1e4363;
    color: #d8e6e6;
  
}
.ullist{

    padding-left: 10px;
    
    }
    
.nav-item{
    
    padding-left: 10px;
    
    }

.row{

    align-items: flex-start;
    padding-top: 20px;
}   
.container{
    padding-left:20px;
    margin-left: 15px;
    position: absolute;
    }
.card-style{

    padding-top:134px;
    padding-left:60px;
    position: absolute;
    left: 96px;
}
.card{
    margin-left: 20px;
}
.card1-style{
    position: absolute;
    left: 150px;
    top: 567px;
    display: flex;
    flex-direction: row;


}
.card2-style{
    position: absolute;
    left: 150px;
    top: 950px;
    display: flex;
    flex-direction: row;


}
.card-title{

color:black

}
.card-body{

    color:black;
}
.ach{
    position: absolute;
    top: 110px;
    left: 170px;
    font-size: 20px;
}
.pro{
    position: absolute;
    top: 520px;
    left: 170px;
    font-size: 20px;
}
.pos{
    position: absolute;
    top: 909px;
    left: 170px;
    font-size: 20px;
}